.black-text{color: #222222;}.white-text{color: #ffffff;}.color-text{color: #FFCB16;}

.spacer{
	height: 2%;
}

.section{
	padding: 2em;
}
.sidepanel{
	overflow: auto;
	overflow-x: hidden;
	height: 100%;
	background-color: #222222;
	position: fixed;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 991px) {
  .sidepanel{
	  position: inherit;
	  height: auto;
  }
}